server:
  port: 8081

spring:
  application:
    name: user-profile-service
  datasource:
    username: postgres
    password: 123456
    url: jdbc:postgresql://localhost:5432/user_profile_db
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    default-schema: app