spring:
  application:
    name: six-entities
  datasource:
    username: postgres
    password: 123456
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    default-schema: app

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true