spring:
  application:
    name: six-entities
  datasource:
    username: postgres
    password: 123456
    url: jdbc:postgresql://localhost:5432/six_entities_db
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    default-schema: app

user-profile-service:
  url: http://localhost:8081

feign:
  client:
    config:
      user-profile:
        connect-timeout: 2000
        read-timeout: 5000
        retryer:
          period: 500
          maxPeriod: 5000
          maxAttempts: 5

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true